html, body, #root {
  height: 100%;
  margin: 0;
}

/* This will make sure that your grid container takes full width */
.Grid-container {
  width: 100%;
  height: 100%; /* This will take the full height of the #root */
}

/* Add this if you want to specifically center the card items */

/* Rest of your styles */

